body {
    font-family: 'Roboto', sans-serif;
}


.bg-navy {
    background-color: #001F3F !important; 
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}


#sidebarMenu {
    position: sticky;
    top: 0; 
    height: 100vh; 
    overflow-y: auto; 
}

.sidebar .nav-link {
    color: #b8c1ec;
}

.sidebar .nav-link.active {
    background-color: #001F3F;
    color: white;
}

.sidebar .nav-link:hover {
    background-color: #003366;
    color: white;
}


main {
    margin-left: 16.66%;
    padding: 20px;
}

.card {
    border-radius: 15px;
}


@media (max-width: 768px) {
    main {
        margin-left: 0;
    }

    .sidebar {
        position: relative;
        height: auto;
    }
}
